#pets{
    position: fixed;
    width:70%;
    color: black;
    height: 60vh;
    background-color: white;
    margin-top: 7vh;
    border: 5px solid forestgreen;
    border-radius: 10px 10px 10px 10px;
    padding: 0vh 1vw;
    padding-bottom: 2vh;
    overflow: auto;
}

table, td, tr, th{
    border-collapse: collapse;
    text-align: center;
    border: none;
}
table {
    width: 100%;
    marigin-top: 2vh;


}

td,th{
    width: 10%;
}


th {
    background: white;
    position: sticky;
    top: 0vh; /* Don't forget this, required for the stickiness */
    padding-top: 1vh;
    padding-bottom: 1vh;
}

