#menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vh 5vw;
    background: forestgreen;
}

button.search, input.search{
    width: 15vw;
    padding: 1vh 1vw;
    font-size: 2vh;
}

input{
    color: gray;
}

button.search{
    color: black;
    font-weight: bold;
    cursor: pointer;
    background: none;
    border:none;
    transition: 1s;
    font-size: 2vh;
}

button.search:hover{
    color: white;
}
